.about{
    padding: 40px auto;
    margin: 55px auto;
}

.headin{
    text-align: center;
}


.col1 {
    float: left;
    width: 47%;
    padding: 5px;
    height: 600px; 
  }

.img1{
      height: 400px;
      width: 600px;
  }
  
.row{
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }



.col2 {
  float: left;
  flex: 33.33%;
  width: 33.33%;
  padding: 5px;
}

/* 
.row2 {
    display: flex;
  }
/* Clear floats after image containers */
/* .row2::after {
  content: "";
  clear: both;
  display: table;
}  */

